.faq-container {
  max-width: 600px;
  margin: 0 auto;
}

.faq-item {
  margin-bottom: 10px;
}

.faq-question {
  padding: 10px;
  background-color: #f4f4f4;
  cursor: pointer;
}

.faq-answer {
  padding: 10px;
  background-color: #fff;
  display: block;
}